@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
}

h1 {
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 104px;
    margin-bottom : 26px;
}

.list-wrapper {
    margin-top: 26px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}

.member-info-container {
    border-style: solid;
    border-color: #000;
    border-radius: 10px;
    width: 294px;
    height: 148px;
}
.member-info-container * {
    margin-inline: 20px;
}
.member-name-text {
    margin-top: 28px;
    margin-bottom: 0px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.member-phone-number-text {
    margin-top: 0px;
    margin-bottom: 28px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 51px;
}
.tap-btn-container {
    display: flex;
    justify-content: center;
}
.tap-btn {
    width: 152px;
    height:49px;
    background-color: rgba(255,255,255,0);
    border: 3px solid #535354;
    border-radius: 5px 5px 0px 0px;

    color: #535354;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tap-btn:hover {
    cursor: pointer;
}

.tap-btn.selected {
    border-color: #00A3FF;
    color : #00A3FF;
}
.tap-btn-container {
    margin-bottom: 55px;
}

.content-container {
    width: 294px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 10px;
}
.content-container.job{
    background: #9ADBFF;
}

.content-container.edu{
    background: #FF9EF0;
}
.content-container * {
    margin-inline: 20px;
}
.content-header {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.content-owner {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content-end-date {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size:24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}