@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
}

h1 {
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 104px;
}
.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 51px;
}
.content-wrapper {
    width: 294px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 10px;
}
.content-wrapper.job{
    background: #9ADBFF;
}

.content-wrapper.edu{
    background: #FF9EF0;
}
.content-wrapper * {
    margin-inline: 20px;
}
.content-header {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.content-owner {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content-end-date {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size:24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}