@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
}

h1 {
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 104px;
}
.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 51px;
}
.tap-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom : 55px;
}
.tap-btn {
    width: 152px;
    height:49px;
    background-color: rgba(255,255,255,0);
    border: 3px solid #535354;
    border-radius: 5px 5px 0px 0px;

    color: #535354;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tap-btn:hover {
    cursor: pointer;
}

.tap-btn.selected {
    border-color: #00A3FF;
    color : #00A3FF;
}

.go-applicant-list-btn {
    width: 289px;
    height: 52px;
    border-radius: 5px;
    border: 2px solid #00A3FF;
    background: #00A3FF;
    margin-top: 8px;
    
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
}

.program-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.program-container {
    width: 294px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 10px;
}
.program-container.job{
    background: #9ADBFF;
}

.program-container.edu{
    background: #FF9EF0;
}
.program-container * {
    margin-inline: 20px;
}
.program-header {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.program-owner {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.program-end-date {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size:24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}