<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href = "@{/css/index_logined.css}" rel="stylesheet"  />
    <title>Busan Platform</title>
</head>

<body>
<div class="header">
    <h1>Busan</h1>
    <p>노인 일자리, 교육 플랫폼</p>
</div>
<div class="buttons">
    <div class="button logout" onclick="window.location.href = './logout'">
        <dotlottie-player
                src="https://lottie.host/e69f3597-566d-41f4-80da-8756fd9f2d6d/TwfiQDyyJC.json"
                background="transparent"
                speed="1"
                loop
                autoplay
        ></dotlottie-player>
        로그아웃
    </div>
    <div class="button mypage" onclick="window.location.href = './mypage'">
        <dotlottie-player
                src="https://lottie.host/89ea30f8-bb0d-4de1-815c-e923c9a4da9c/jtM4dWaAkd.json"
                background="##FFFFFF"
                speed="1"
                loop
                autoplay
        ></dotlottie-player>
        마이페이지
    </div>
    <div class="button work" onclick="window.location.href = './work_list'">
        <dotlottie-player
                src="https://lottie.host/02d7ed24-e08f-42b1-8d07-bb5ff1fb6556/ChrFLs5R9t.json"
                background="transparent"
                speed="1"
                loop
                autoplay
        ></dotlottie-player>
        일
    </div>
    <div class="button education" onclick="window.location.href = './edu_list'">
        <dotlottie-player
                src="https://lottie.host/83902af6-c4d3-436a-a9ec-42918ebe23d3/xnV4wVg5Hy.json"
                background="transparent"
                speed="1"
                loop
                autoplay
        ></dotlottie-player>
        교육
    </div>
</div>
<script
        src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
        type="module"
></script>
</body>
</html>
