<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
            rel="stylesheet"
    />
    <link th:href = "@{/css/login.css}" rel="stylesheet"  />
    <title>로그인</title>

</head>
<body>
<div class="header">
    <h1>로그인</h1>
</div>
<div class="login-container">
    <form class="login-form" action="" method="post">
        <label for="name">이름</label>
        <input type="text" id="name" placeholder="이름" />
        <label for="password">비밀번호</label>
        <input type="password" id="password" placeholder="비밀번호" />
    </form>
    <button type="submit">로그인</button>
</div>
</body>
</html>
