<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" program="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <title>마이페이지</title>
</head>
<body>
    <h1>마이페이지</h1>
    <div class="tap-btn-container">
        <button class="tap-btn selected" onclick="location.href='./mypage_enrolled'">신청한</button>
        <button class="tap-btn" onclick="location.href='./mypage_created'">생성한</button>
    </div>
    <div class="list-wrapper">
            <div th:each="program : ${programs}" class="program-container"  th:classappend = "${program.type}">
                <h2 th:text="${program.title}" class="program-header"></h2>
                <p th:text="${program.host}" class="program-owner"></p>
                <p th:text="${program.date}" class="program-end-date"></p>
            </div>
    </div>
</body>
</html>