<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <title>마이페이지</title>
</head>
<body>
    <h1>마이페이지</h1>
    <div class="tap-btn-container">
        <button class="tap-btn" onclick="location.href='./mypage_enrolled'">신청한</button>
        <button class="tap-btn selected" onclick="location.href='./mypage_created'">생성한</button>
    </div>
    <div class="list-wrapper">
            <div class="content-wrapper" th:each="content : ${contents}">

                <div class="content-container"  th:classappend = "${content.type}">
                    <h2 th:text="${content.title}" class="content-header"></h2>
                    <p th:text="${content.host}" class="content-owner"></p>
                    <p th:text="${content.date}" class="content-end-date"></p>
                </div>
                <button 
                    class="go-applicant-list-btn" 
                    th:data-content-type="${content.type}" 
                    th:data-content-id="${content.id}"
                    th:onclick="|location.href = '/applicant_list/'+ this.getAttribute('data-content-type') + '/' + this.getAttribute('data-content-id')|"
                    >
                        신청자 현황
                </button>
            </div>
    </div>
</body>
</html>